<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    </head>

    <body ng-app="mmf" ng-cloak>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

            <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

            <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.2/ng-infinite-scroll.min.js"></script>

        <script type="text/javascript">
            var app = angular.module('mmf', ['ngMaterial', 'infinite-scroll']);

            app.controller('controller-root', ['$scope', '$http', function($scope, $http) {
                // Constants
                $scope.baseUrl = "http://localhost:9000/";

                $scope.types = [
                    {label: "All", value: ["all"]},
                    {label: "Civil Airports", value: ["airport", "airports"]}];

                $scope.sortOptions = [
                    {label: "Relevance", value: "relevance"},
                    {label: "Direct Flights", value: "direct-flights"},
                    {label: "Rating", value: "rating"},
                    {label: "Elevation", value: "elevation"}];

                // Initialization
                $scope.size = 10;
                $scope.typeIndices = [0];
                $scope.sort = $scope.sortOptions[0].value;
                $scope.loading = true;

                $http({
                    method: 'GET',
                    url: $scope.baseUrl + "airport/count"
                }).success(function (response) {
                    if (response.success) {
                        $scope.totalCount = response.data;
                    }
                });


                $scope.search = function (from) {
                    $scope.loading = true;

                    if (from == null)
                        from = 0;
                    var searchParams = {
                        from: from,
                        size: $scope.size,
                        types: $scope.typeParams,
                        sort: $scope.sort,
                        order: $scope.order
                    };
                    if ($scope.query != null && $scope.query.length > 1)
                        searchParams['q'] = $scope.query;
                    $http({
                        method: 'GET',
                        url: $scope.baseUrl + "airport",
                        params: searchParams
                    }).success(function (response) {
                        if (response.success) {
                            if (from == 0)
                                $scope.searchResponse = response;
                            else
                                $scope.searchResponse.data.results.push.apply($scope.searchResponse.data.results, response.data.results);
                        }
                        $scope.loading = false;
                    });
                };

                $scope.toggleType = function (index) {
                    var i = $scope.typeIndices.indexOf(index);
                    if (i == -1)
                        $scope.typeIndices.push(index);
                    else
                        $scope.typeIndices.splice(i, 1);
                    var all = false;
                    if (index == 0) {
                        if (i == -1)
                            all = true;
                    }
                    else if ($scope.typeIndices.indexOf(0) != -1)
                        all = true;
                    if (all)
                        $scope.typeParams = $scope.types[0].value[0];
                    else {
                        var typeArr = [];
                        for (i = 0; i < $scope.typeIndices.length; i++)
                            typeArr.push.apply(typeArr, $scope.types[$scope.typeIndices[i]].value);
                        $scope.typeParams = typeArr.join(',');
                    }
                    $scope.search();
                };

                $scope.querySearch = function () {
                    if ($scope.query.length > 1)
                        $scope.search();
                };
            }]);
        </script>

        <div ng-controller="controller-root" layout="column">

            <div layout>

                <div flex="25" layout="column">
                    <fieldset>
                        <legend>Type</legend>
                        <md-checkbox layout ng-repeat="type in types" ng-checked="typeIndices.indexOf($index) != -1" ng-click="toggleType($index)">
                            {{ type.label }}
                        </md-checkbox>
                    </fieldset>

                    <fieldset>
                        <legend>Sort By</legend>
                        <md-radio-group ng-model="sort" ng-click="search()">
                            <md-radio-button ng-repeat="option in sortOptions" ng-value="option.value" >
                                {{ option.label }}
                            </md-radio-button>
                        </md-radio-group>
                    </fieldset>

                    <div>
                        Total Airports: <b>{{ totalCount }}</b>
                    </div>
                </div>

                <div flex="75" layout="column">
                    <md-input-container>
                        <label>Search</label>
                        <input type="text" ng-model="query" ng-change="querySearch()">
                    </md-input-container>

                    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

                    <div ng-hide="loading">
                        Result: <b>{{ searchResponse.data.matchCount }}</b> airports found.
                    </div>

                    <div infinite-scroll='search(searchResponse.data.results.length)' infinite-scroll-disabled="loading" infinite-scroll-distance="1">
                        <div layout ng-repeat="result in searchResponse.data.results" layout-margin="20" style="height: 125px">
                            <div flex="20" layout>
                                <img flex ng-src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/{{ result.ctryCd }}.png"
                                alt="Flag of {{ result.country }}" style="max-width:100% ; max-height:100%"/>
                            </div>
                            <div flex="40" layout="column">
                                <div>
                                    {{ result.name }}
                                </div>
                                <div layout>
                                    <div>
                                        <img src="/assets/images/ic_star_black_24dp_2x.png" />
                                        {{ result.rating }}
                                    </div>
                                    <div>
                                        {{ result.url }}
                                    </div>
                                </div>
                            </div>
                            <div flex="40" layout="column">
                                <div flex>
                                    <img src="/assets/images/ic_place_black_24dp_2x.png" />
                                    {{ result.city }}, {{ result.country }}
                                </div>
                                <div flex>
                                    <img src="/assets/images/ic_near_me_black_24dp_2x.png" />
                                    Elevation: {{ result.elev }} ft
                                </div>
                                <div flex>
                                    <img src="/assets/images/ic_flight_black_24dp_2x.png" />
                                    Direct Flights: {{ result.directFlights }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>